<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <!--<ul class="right hide-on-med-and-down">-->
        <!--<li><a>Skills</a></li>-->
        <!--<li><a>Works</a></li>-->
        <!--<li><a>Write me</a></li>-->
      <!--</ul>-->
      <h4>Maksim Minkov</h4>
    </div>
  </nav>
</div>
