<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5 class="white-text">Links:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://bitbucket.org/Maksim12315">Bitbucket</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/maksim-minkov-969235153/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Maksim Minkov
    </div>
  </div>
</footer>
