<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">chat</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Link to social networks or phone number</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Your message</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row ">
    <button class="btn waves-effect  teal darken-3" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>


