<div class="container">
  <div class="">
    <ngx-charts-pie-grid
      [view]="view"
      [results]="data"
      [animations]="true"
      [designatedTotal]="100"
    >
    </ngx-charts-pie-grid>
  </div>
</div>
