<div class="row">
  <div class="col-lg-12">
    <app-header></app-header>
  </div>
</div>

<div class="row r2">
  <div class="col-lg-6">
    <app-skills></app-skills>
  </div>

  <div class="col-lg-6">
    <app-works></app-works>
  </div>
</div>

<div class="row r4">
  <div class="col-lg-12">
    <app-form></app-form>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <app-footer></app-footer>
  </div>
</div>





