<div class="container">

  <div class="row">

    <div class="col s2">
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Home Accounting</span>
          <p>
            This is a simple project on Angular 4 using TypeScript, ngx-charts and rxjs</p>
        </div>
        <div class="card-action">
          <a  href="https://Maksim12315@bitbucket.org/Maksim12315/test.git">This is a link to the repository</a>
        </div>
      </div>
    </div>

  </div>

</div>
